body {
    font-family: 'poppins', sans-serif;
    max-width: 1280px;
    margin: 0 auto;
    background-color: #b4e4faea;
    color: #333333;
}

body.modo-escuro {
    background-color: #020202;
    color: #333333;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

header .logo {
    width: 50px;
    transition: 0.2s ease-in-out;

}

header .imagem-botao {
    width: 70px;
    transition: 0.9s ease-in-out;
}

header #botao-alterar-tema {
    background: none;
    border: none;
}

header .logo:hover,
header .imagem-botao:hover {
    transform: scale(1.55);
    cursor: pointer;
}

main .cartao-pokemon:hover {
    transform: scale(1.15);
    cursor: pointer;
}

main {
    padding: 25px;
}

main .listagem-pokemon {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

main .cartao-pokemon {
    background-color: #ffffff;
    width: 200px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border-radius: 15px;
    transition: 0.6s ease-in-out;

}

main .cartao-pokemon:hover {
    background-color: #585858e8;
    color: #fff;
}

.modo-escuro .cartao-pokemon {
    background-color: #4b4b4be8;
    color: #f5f5f5;
}

.modo-escuro .cartao-pokemon:hover {
    background-color: #ffffff;
    color: #0e0e0e;
}

main .cartao-pokemon .informacoes {
    display: flex;
    justify-content: space-between;
    border: 3px solid #333333;
    background-color: #ffffff;
    border-radius: 15px;
}

.modo-escuro .cartao-pokemon .informacoes {
    background-color: #fcfafa;
    color: #0e0e0e;
}

main .cartao-pokemon .informacoes span {
    padding: 5px;
    text-transform: uppercase;
    font-size: 17px;
    color: #020202;
}

main .cartao-pokemon .gif {
    width: 90px;
    height: 90px;
}

main .cartao-pokemon .tipos {
    display: flex;
    gap: 15px;
}

main .cartao-pokemon .tipo {
    padding: 8px;
    border-radius: 10px;
    color: #ffffff;

}

.grama {
    background-color: #7c5;
}

.veneno {
    background-color: #a59;
}

.fogo {
    background-color: #f42;
}

.agua {
    background-color: #39f;
}

.inseto {
    background-color: #ab2;
}

.voo {
    background-color: #89f;
}

main .descricao {
    max-height: 80px;
    overflow-y: scroll;
    font-size: 14px;
    padding-right: 10px;
}